:root {
--color-accent-two: #FFFFFF;
--color-logo: #000000;
--color-accent: #2196F3;
--color-titel-nav: #212121;
--color-main: #757575;
--color-contactsfooter: rgba(255, 255, 255, 0.6);
--background-color-hero: #2F303A;
--background-color-sectionteam: #F5F4FA;
--button-active: #188CE8;
--color-accent-three: #ECECEC;
}

body {
    color: var(--color-main);
    background-color: var(--color-accent-two);
    font-family: Roboto, sans-serif;
}

img {
    display: block;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}



/* nav */

.header {
    border-bottom: 1px solid var(--color-accent-three);
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    width: 1200px;
}

.main-nav { 
    display: flex;
    border-bottom: 1px var(--color-accent-three);
}

.site-nav {
    display: flex;
}

.list-site-nav {
    display: flex;
}

.logo {
    margin-right: 93px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    
    color: var(--color-logo);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    
}

.logo-web-blue {
    color: var(--color-accent);
}

.link-site-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--color-titel-nav);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.site-nav .item:not(:last-child){
    margin-right: 50px;
}

.link.current {
    color: var(--color-accent);
}

.link-site-nav:hover,
.link-site-nav:focus,
.link-site-nav:active {
    color: var(--color-accent);
}

.list-contacts-header {
    display: flex;
    margin-left: auto;
}


.list-contacts-header .item:not(:last-child) {
    margin-right: 50px;
}



.link-contacts-header {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;

    color: var(--color-main);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link-contacts-header:hover,
.link-contacts-header:focus {
    color: var(--color-accent);
}

/* <!-- перша секція --> */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-hero-titel {
    margin-top: 0;
    margin-bottom: 58px;
    width: 696px;
    margin-right: auto;
    margin-left: auto;


    color: var(--color-accent-two);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.section-hero {
    padding-top: 200px;
    padding-bottom: 172px;

    background-color: var(--background-color-hero);
}

.button-hero {
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    min-height: 50px;
    cursor: pointer;
    margin: 0 auto;

    background-color: var(--color-accent);
    color: var(--color-accent-two);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.button-hero:hover,
.button-hero:focus {
    color: var(--color-accent-two);
    background-color: var(--button-active);
}

/* <!-- друга секція --> */
.section-features {
    padding-top: 94px;
    padding-bottom: 0;
}
.section-titel {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--color-titel-nav);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-titel-hidden {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--color-titel-nav);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    letter-spacing: 0.03em;
}

.title-section-features {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--color-titel-nav);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.paragraph-section-features {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.section.section-features {
    padding-top: 94px;
    padding-bottom: 0;
}

/* третя сеція  */
.our-work-card-list {
    display: flex;
}

.item-our-work-card:not(:last-child) {
    margin-right: 30px;
}

/* <!-- четверта секція --> */

.section-team { 
    background-color: var(--background-color-sectionteam);
}

.section-team-list {
    display: flex;


}

.section-team-item:not(:last-child){
    margin-right: 30px;
}

.section-team-name {
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #FFFFFF;
    }

.title-section-team {
    margin-top: 0px;
    margin-bottom: 10px;

    color: var(--color-titel-nav);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
}

.paragraph-section-team {
    margin-top: 0;
    margin-bottom: 0px;

    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
}

/* <!-- портфоліо --> */

.button-filter {
    background-color: var(--background-color-sectionteam);
    color: var(--color-titel-nav);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}

.button-filter:hover,
.button-Filter:focus {
    color: var(--color-accent-two);
    background-color: var(--color-accent);
}

.list-sample-work-titel {
    color: var(--color-titel-nav);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.list-sample-work-paragraph {
    color: var(--color-main);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

/* фотер */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    cursor: pointer;

    background-color: var(--background-color-hero);
}

.footer-logo {
    margin-top: 0;
    margin-bottom: 20px;

    color: var(--color-accent-two);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.contacts-footer-street {
    margin-bottom: 9px;


    color: var(--color-accent-two);
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.contacts-footer-mail {
    margin-bottom: 9px;

    border-bottom-color: var(--color-contactsfooter);
}

.contacts-footer-mail,
.contacts-footer-tel {
    color: var(--color-contactsfooter);
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.contacts-footer-street:hover,
.contacts-footer-mail:hover,
.contacts-footer-tel:hover { 
    color: var(--color-accent);
}

.contacts-footer-street:focus,
.contacts-footer-mail:focus,
.contacts-footer-tel:focus { 
    color: var(--color-accent);
}




















